---
import iconoLanzar from "../../assets/iconoLanzar.svg";
import ButtonDemo from "../ui/ButtonDemo.astro";
import TituloVerde from "../ui/TituloVerde.astro";
---

<aside>
  <TituloVerde title="Administraci칩n al alcance de un click" />
  <div class="segundo-titulo">
    <h2>Sistema de Administraci칩n de medicina integral</h2>
  </div>
  <div>
    <p class="parrafo">
      Una plataforma completa dise침ada para obras sociales y centros de salud
      que quieren reducir errores, acelerar procesos y tener control total sobre
      su informaci칩n.
    </p>
  </div>
  <div class="botones">
    <ButtonDemo />
    <p>o</p>
    <a class="btn button-contactanos" href="#contacto"> Contactanos </a>
  </div>
</aside>

<style>
  aside {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .segundo-titulo {
    color: white;
    font-size: calc(20px + 0.4vw);
  }
  .parrafo {
    color: white;
    letter-spacing: 1px;
  }
  .botones {
    display: flex;
    gap: 1rem;
    align-items: center;
    p {
      color: white;
      font-size: calc(12px + 0.2vw);
    }
  }
  .btn {
    cursor: pointer;
    height: 50px;
    padding: 0 20px;
    max-width: 200px;
    border-radius: 10px;
    font-size: calc(13px + 0.1vw);
    font-weight: 600;
    color: white;
    transition: all ease 0.2s;
  }
  .button-demo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    background-color: #ff6161;
    border: 1px solid #ff8080;
    &:hover {
      background-color: #ff4c4c;
    }
  }
  .button-contactanos {
    border: 2px solid white;
    background: none;
    &:hover {
      background-color: white;
      color: #ff6161;
    }
  }
  a{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 1200px) {
    aside {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
    }
    .segundo-titulo {
      text-align: center;
    }
    .parrafo {
      text-align: center;
    }
  }
</style>
