---

---
<div class="bg-contenedor">
  
</div>

<style>
    /* Contenedor de bg */
  .bg-contenedor{
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(10, 10, 58);
  }
</style>