---
import FondoSectionUno from "./FondoSectionUno.astro";
import ContenidoIzquierdo from "./ContenidoIzquierdo.astro";
import ImagenDerecha from "./ImagenDerecha.astro";
---

<div class="contenedor">
  <div class="max-width">
    <!-- Fondo -->
    <FondoSectionUno />
    <ContenidoIzquierdo />
    <ImagenDerecha />
  </div>
</div>

<style>
  
</style>
