---
const { texto } = Astro.props;
---

<p>
  {texto}
</p>

<style>
  p{
    font-size: calc(12px + 0.2vw);
    color: black;
    max-width: 500px;
  }
  @media (max-width: 750px) {
    p{
      text-align: center;
    }
  }
</style>
