---
const { title } = Astro.props;
---

<div>
  <h3 class="primer-titulo">{title}</h3>
</div>

<style>
  .primer-titulo {
    display: inline;
    padding: 10px;
    background-color: #2ecc70a9;
    border-radius: 10px 10px 0 10px;
    font-size: calc(10px + 0.5vw);
    color: white;
    font-weight: 200;
    border: 1px solid #a7ffcca9;
  }
</style>
